In [43]:
import pandas as pd
import numpy as np

In [101]:
adult_train = pd.read_csv('../Datasets/adult_train.csv', index_col=0)
adult_train.head()
# adult_train['race'].unique()

array([' White', ' Black', ' Asian-Pac-Islander', ' Amer-Indian-Eskimo',
       ' Other'], dtype=object)

In [67]:
adult_train = adult_train.replace({' ?':np.nan}).dropna()
df_train = adult_train[['education', 'occupation', 'marital-status', 'race', 'sex']]
df_train_dumm = pd.get_dummies(df_train, drop_first=True)
train_target = pd.get_dummies(adult_train['target'], drop_first=True)
df_train_dumm.head()

,education_ 11th,education_ 12th,education_ 1st-4th,education_ 5th-6th,education_ 7th-8th,education_ 9th,education_ Assoc-acdm,education_ Assoc-voc,education_ Bachelors,education_ Doctorate,...,marital-status_ Married-civ-spouse,marital-status_ Married-spouse-absent,marital-status_ Never-married,marital-status_ Separated,marital-status_ Widowed,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,sex_ Male
0,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,1
1,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,1,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
3,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,1
4,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,1,0,0,0

In [69]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression(solver='liblinear', multi_class='ovr')
log_reg.fit(df_train_dumm.values, train_target.values.ravel())

prob = log_reg.predict_proba(df_train_dumm.values)[:, 0]

In [70]:
df_train_flip = df_train_dumm.copy()
df_train_flip['sex_ Male'] = df_train_flip['sex_ Male'].apply(lambda x : x^1)

prob_flip = log_reg.predict_proba(df_train_flip)[:, 0]

In [71]:
prob - prob_flip

array([-0.02534625, -0.06953518, -0.00861518, ...,  0.02495224,
       -0.00887771,  0.09506491])

In [106]:
train_flip = df_train.copy()
avg_effect = (prob - prob_flip).mean()
print('average effect: ', avg_effect)
# train_flip['target'] = adult_train['target']
train_flip['effect'] = prob - prob_flip
train_flip['deviation'] = train_flip['effect'] - avg_effect
# train_flip.sort_values('deviation')
# train_flip
train_flip.sort_values('deviation', ascending=False)

average effect:  -0.02508457145506907

,education,occupation,marital-status,race,sex,effect,deviation
32560,HS-grad,Exec-managerial,Married-civ-spouse,White,Female,0.095065,0.120149
9521,HS-grad,Exec-managerial,Married-civ-spouse,White,Female,0.095065,0.120149
6442,HS-grad,Exec-managerial,Married-civ-spouse,White,Female,0.095065,0.120149
6686,HS-grad,Exec-managerial,Married-civ-spouse,White,Female,0.095065,0.120149
6716,HS-grad,Exec-managerial,Married-civ-spouse,White,Female,0.095065,0.120149
25323,HS-grad,Exec-managerial,Married-civ-spouse,White,Female,0.095065,0.120149
25255,HS-grad,Exec-managerial,Married-civ-spouse,White,Female,0.095065,0.120149
8156,HS-grad,Exec-managerial,Married-civ-spouse,White,Female,0.095065,0.120149
8320,HS-grad,Exec-managerial,Married-civ-spouse,White,Female,0.095065,0.120149
15429,HS-grad,Exec-managerial,Married-civ-spouse,White,Female,0.095065,0.120149
24610,HS-grad,Exec-managerial,Married-civ-spouse,White,Female,0.095065,0.120149
24569,HS-grad,Exec-managerial,Married-civ-spouse,White,Female,0.095065,0.120149
16252,HS-grad,Exec-managerial,Married-civ-spouse,White,Female,0.095065,0.120149
24310,HS-grad,Exec-managerial,Married-civ-spouse,White,Female,0.095065,0.120149
456,HS-grad,Exec-managerial,Married-civ-spouse,White,Female,0.095065,0.120149
23967,HS-grad,Exec-managerial,Married-civ-spouse,White,Female,0.095065,0.120149
6197,HS-grad,Exec-managerial,Married-civ-spouse,White,Female,0.095065,0.120149
23612,HS-grad,Exec-managerial,Married-civ-spouse,White,Female,0.095065,0.120149
11136,HS-grad,Exec-managerial,Married-civ-spouse,White,Female,0.095065,0.120149
32297,HS-grad,Exec-managerial,Married-civ-spouse,White,Female,0.095065,0.120149
22005,HS-grad,Exec-managerial,Married-civ-spouse,White,Female,0.095065,0.120149
11921,HS-grad,Exec-managerial,Married-civ-spouse,White,Female,0.095065,0.120149
21553,HS-grad,Exec-managerial,Married-civ-spouse,White,Female,0.095065,0.120149
18279,HS-grad,Exec-managerial,Married-civ-spouse,White,Female,0.095065,0.120149
21015,HS-grad,Exec-managerial,Married-civ-spouse,White,Female,0.095065,0.120149
20488,HS-grad,Exec-managerial,Married-civ-spouse,White,Female,0.095065,0.120149
13873,HS-grad,Exec-managerial,Married-civ-spouse,White,Female,0.095065,0.120149
15677,HS-grad,Exec-managerial,Married-civ-spouse,White,Female,0.095065,0.120149
18578,HS-grad,Exec-managerial,Married-civ-spouse,White,Female,0.095065,0.120149
15538,HS-grad,Exec-managerial,Married-civ-spouse,White,Female,0.095065,0.120149
...,...,...,...,...,...,...,...
31939,HS-grad,Exec-managerial,Married-civ-spouse,White,Male,-0.095065,-0.069980
16069,HS-grad,Exec-managerial,Married-civ-spouse,White,Male,-0.095065,-0.069980
31952,HS-grad,Exec-managerial,Married-civ-spouse,White,Male,-0.095065,-0.069980
20882,HS-grad,Exec-managerial,Married-civ-spouse,White,Male,-0.095065,-0.069980
723,HS-grad,Exec-managerial,Married-civ-spouse,White,Male,-0.095065,-0.069980
20869,HS-grad,Exec-managerial,Married-civ-spouse,White,Male,-0.095065,-0.069980
16104,HS-grad,Exec-managerial,Married-civ-spouse,White,Male,-0.095065,-0.069980
20857,HS-grad,Exec-managerial,Married-civ-spouse,White,Male,-0.095065,-0.069980
9282,HS-grad,Exec-managerial,Married-civ-spouse,White,Male,-0.095065,-0.069980
9260,HS-grad,Exec-managerial,Married-civ-spouse,White,Male,-0.095065,-0.069980
5312,HS-grad,Exec-managerial,Married-civ-spouse,White,Male,-0.095065,-0.069980
24107,HS-grad,Exec-managerial,Married-civ-spouse,White,Male,-0.095065,-0.069980
20897,HS-grad,Exec-managerial,Married-civ-spouse,White,Male,-0.095065,-0.069980
9443,HS-grad,Exec-managerial,Married-civ-spouse,White,Male,-0.095065,-0.069980
9567,HS-grad,Exec-managerial,Married-civ-spouse,White,Male,-0.095065,-0.069980
9649,HS-grad,Exec-managerial,Married-civ-spouse,White,Male,-0.095065,-0.069980
23939,HS-grad,Exec-managerial,Married-civ-spouse,White,Male,-0.095065,-0.069980
23964,HS-grad,Exec-managerial,Married-civ-spouse,White,Male,-0.095065,-0.069980
5050,HS-grad,Exec-managerial,Married-civ-spouse,White,Male,-0.095065,-0.069980
833,HS-grad,Exec-managerial,Married-civ-spouse,White,Male,-0.095065,-0.069980
5066,HS-grad,Exec-managerial,Married-civ-spouse,White,Male,-0.095065,-0.069980
824,HS-grad,Exec-managerial,Married-civ-spouse,White,Male,-0.095065,-0.069980
9465,HS-grad,Exec-managerial,Married-civ-spouse,White,Male,-0.095065,-0.069980
18188,HS-grad,Exec-managerial,Married-civ-spouse,White,Male,-0.095065,-0.069980
20931,HS-grad,Exec-managerial,Married-civ-spouse,White,Male,-0.095065,-0.069980
12952,HS-grad,Exec-managerial,Married-civ-spouse,White,Male,-0.095065,-0.069980
5114,HS-grad,Exec-managerial,Married-civ-spouse,White,Male,-0.095065,-0.069980
2759,HS-grad,Exec-managerial,Married-civ-spouse,White,Male,-0.095065,-0.069980
30044,HS-grad,Exec-managerial,Married-civ-spouse,White,Male,-0.095065,-0.069980
2066,HS-grad,Exec-managerial,Married-civ-spouse,White,Male,-0.095065,-0.069980

In [122]:
import pysubgroup as ps
import pandas as pd

target = ps.NominalSelector ('deviation', True)
searchspace = ps.createSelectors(train_flip, ignore=['deviation'])

task = ps.SubgroupDiscoveryTask (train_flip, target, searchspace, 
            resultSetSize=5, depth=2, qf=ps.StandardQF(0.2))
result = ps.BeamSearch().execute(task)
# result = ps.BSD().execute(task) # BSD or TID_SD works

BaseException: Quality measure cannot be used for this target class

In [123]:
for (q, sg) in result:
    print (str(q) + ":\t" + str(sg.subgroupDescription))

In [124]:
len(result)

0